# Ignore common Python virtual environments
venv/
env/
dip/
.venv/
.pyenv/
.vscode/
.virtualenvs/
pip-wheel-metadata/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.out
*.err
*.swp
*.swo
.DS_Store

# Ignore data folder
data/
logs/
testfiles/
test.py

